/* Colors - > desire: #e63946 honeydew: #f1faee light blue: #a8dadc queen blue: #457b9d space cadet: #1d3557 udacity: #08B4E4*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* =====  TAGS  ===== */
a {
  text-decoration: none;
  color: #f1faee;
  background-color: #08B4E4;
  margin-top: 10px;
  padding: 15px 15px;
  width: 100%;
  transition: .3s all ease-in-out;
}

header {
  display: flex;
  margin: 20px 25px 40px 25px;
}

p {
  margin-top: 25px;
}

/* =====  CLASSSES  ===== */
.border-black {
  border: 1.5px solid #000;
}

.box {
  width: 100px;
  height: 100px;
}

/* =====  IDS  ===== */
#container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#header-copy {
  text-align: right;
  display: inline-block;
  width: 100%;
}

#header-copy h1,h5 {
  text-transform: uppercase;
}

#header-copy h1 {
  font-size: 1.2em;
  color: #08B4E4;
}

#header-copy h5 {
  font-size: 0.7em;
  color: #1d3557;
}

#header-copy h1 {
  font-weight: 400;
}

#hero img {
  max-width: 100%;
  height: auto;
}

#honeydew {
  background-color: #f1faee;
}

#image-section-title {
  width: 100%;
  margin: 50px 0 20px 0px;
  text-transform: uppercase;
  font-size: 1.3em;
  color: #1d3557;
  text-align: center;
}

#images {
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  width: 100%;
}

#images a {
  text-transform: uppercase;
  font-weight: 500;
}

#images figure {
  text-align: center;
}

#images img {
  max-width: 100%;
  height: auto;
  border: 1.5px solid #08B4E4;
}

#pixel-project, #twitch-project, #random-quote-machine-project {
  width: 100%;
  margin: auto;
}

#queen-blue {
  background-color: #457b9d;
}

#space-cadet {
  background-color: #1d3557;
}

#twitch-project, #random-quote-machine-project {
  margin-top: 70px;
}

/* =====  MEDIA QUERIES  ===== */
@media screen and (min-width: 400px){
  #header-copy h1 {
    font-size: 1.4em;
  }

  #header-copy h5 {
    font-size: 0.9em;
  }

  #logo {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 500px){
  #header-copy h1 {
    font-size: 1.7em;
  }

  #header-copy h5 {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 700px) {
  #image-section-title {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 850px) {
  #images {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  #image-section-title {
    margin: 50px 0 20px 20px;
  }

  #twitch-project, #random-quote-machine-project {
    margin-top: 0;
  }

  #image-section-title{
    text-align: left;
  }
}

@media screen and (min-width: 880px) {
  p {
    font-size: 0.95em;
  }
}

@media screen and (min-width: 1000px) {

  #header-copy h1 {
    font-size: 2em;
  }

  #header-copy h5 {
    font-size: 1.3em;
  }

  header{
    width: 1000px;
    margin: 20px auto 40px auto;
  }

  #image-section-title {
    margin: 50px 0 20px 0px;
  }

  #logo-header-copy {
    width: 100%;
  }

  #container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =====  PSUEDOCLASSES/PSUEDOELEMENTS ===== */
a:visited {
  text-decoration: none;
}

a:hover {
  color: #1d3557;
  background-color: #f1faee;
  border: 1px solid #1d3557;
}
