/* Colors - > desire: #e63946 honeydew: #f1faee light blue: #a8dadc queen blue: #457b9d space cadet: #1d3557 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}


/* ===== COLORS ===== */

.border-black {
  border: 1.5px solid #000;
}
#honeydew {
  background-color: #f1faee
}

#space-cadet {
  background-color: #1d3557;
}

#queen-blue {
  background-color: #457b9d;
}




/* =====  TAGS  ===== */
header {

  display: flex;
  /* justify-content: flex-end; */
  /* border-bottom: 3px solid #457b9d; */
  padding-bottom: 20px;

}

/* =====  CLASSSES  ===== */
.box {
  width: 100px;
  height: 100px;
}


/* =====  IDS  ===== */

#container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#header-copy {
  text-align: right;
  display: inline-block;
  width: 100%;
}

#header-copy h1,h5 {
  text-transform: uppercase;
}

#header-copy h1 {
  font-weight: 400;
}

#image-section-title {
  margin-top: 25px;
  margin-bottom: 20px;
}

#images {
  display: flex;
  flex-direction: column;
}

#images figure {
  text-align: center;
}

#images img {
  max-width: 100%;
  max-height: 100%;
}

#images h1 {
  display: none;
}

#images p {
  text-transform: uppercase;
  font-weight: 500;
}


/* =====  MEDIA QUERIES  ===== */

@media (min-width: 850px) {

  header{
    width: 850px;
    margin: 20px auto;
  }

  #logo-header-copy {
    width: 100%;
  }

  #images {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  #container {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

}
