/* Colors - > desire: #e63946 honeydew: #f1faee light blue: #a8dadc queen blue: #457b9d space cadet: #1d3557 */

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}


/* ===== COLORS ===== */
.border-black {
  border: 1.5px solid #000;
}
#honeydew {
  background-color: #f1faee;
}

#space-cadet {
  background-color: #1d3557;
}

#queen-blue {
  background-color: #457b9d;
}

/* =====  TAGS  ===== */
a {
  text-decoration: none;
  color: #f1faee;
  background-color: #08B4E4;
  margin-top: 10px;
  padding: 15px 15px;
  width: 100%;
  transition: .3s all ease-in-out;
}

header {
  display: flex;
  padding-bottom: 20px;
  margin: 20px auto;
}

/* =====  CLASSSES  ===== */
.box {
  width: 100px;
  height: 100px;
}

/* =====  IDS  ===== */
#container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#header-copy {
  text-align: right;
  display: inline-block;
  width: 100%;
}

#header-copy h1,h5 {
  text-transform: uppercase;
}

#header-copy h1 {
  font-size: 1.3em;
  color: #08B4E4;
}

#header-copy h5 {
  font-size: 0.8em;
  color: #1d3557;
}

#header-copy h1 {
  font-weight: 400;
}

#hero img {
  max-width: 100%;
  height: auto;
}

#image-section-title {
  width: 100%;
  text-align: center;
  margin: 30px 0 20px 0;
  text-transform: uppercase;
  font-size: 1.2em;
}

#images {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

#images figure {
  text-align: center;
}

#images img {
  max-width: 100%;
  height: auto;
  border: 1.5px solid #08B4E4;
}

#pixel-project, #twitch-project, #random-quote-machine-project {
  width: 100%;
  margin: auto;
}
#images h1 {
  display: none;
}

#images a {
  text-transform: uppercase;
  font-weight: 500;
}

#twitch-project, #random-quote-machine-project {
  margin-top: 70px;
}
/* =====  MEDIA QUERIES  ===== */
@media (min-width: 400px){
  #header-copy h1 {
    font-size: 1.4em;
  }

  #header-copy h5 {
    font-size: 0.9em;
  }
}

@media (min-width: 500px){
  #header-copy h1 {
    font-size: 1.7em;
  }

  #header-copy h5 {
    font-size: 1.1em;
  }
}

@media (min-width: 850px) {
  #images {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  #twitch-project, #random-quote-machine-project {
    margin-top: 0;
  }
}

@media (min-width: 1000px) {

  #header-copy h1 {
    font-size: 2em;
  }

  #header-copy h5 {
    font-size: 1.3em;
  }

  header{
    width: 1000px;

  }

  #logo-header-copy {
    width: 100%;
  }

  #container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =====  PSUEDOCLASSES/PSUEDOELEMENTS ===== */
a:visited {
  text-decoration: none;
}

a:hover {
  color: #1d3557;
  background-color: #f1faee;
  border: 1px solid #1d3557;
}
